/* ===========
File Manager
============== */

.file-man-box {
    padding: 20px;
    border: 2px solid var(--#{$prefix}light);
    position: relative;


    .file-close {
        color: $danger;
        position: absolute;
        line-height: 24px;
        font-size: 24px;
        right: 10px;
        top: 10px;
        visibility: hidden;
    }

    .file-img-box {
        line-height: 120px;
        text-align: center;

        img {
            height: 64px;
        }
    }

    .file-download {
        font-size: 32px;
        color: var(--#{$prefix}secondary-color);
        position: absolute;
        right: 10px;

        &:hover {
            color: var(--#{$prefix}dark);
        }
    }

    .file-man-title {
        padding-right: 20px;
    }

    &:hover {
        box-shadow: $box-shadow;
        border: 2px solid $primary;

        .file-close {
            visibility: visible;
        }
    }
}